body {
  background-color: #cccccc;
  background-image: linear-gradient(rgb(236, 143, 143),  rgba(245, 245, 115, 0.74), rgba(245, 245, 115, 0.74),rgb(145, 243, 158));
  font-family: "Sen", sans-serif;
}

button {
  background: whitesmoke;
  border-color: rgb(255, 251, 0);
  border-width: 3px;
  border-style: outset;
}
.container {
  background-color: rgba(240, 255, 240, 0.336);
}

#containerButtons {
  padding-bottom: 50px;
  padding-top: 10px;
}

#imgButton {
  padding: 3px;
  font-family: "Sen", sans-serif;
  text-align: center;
}

#imgBtnPic {
  height: 150px;
  width: auto;
  margin: 10px;
  padding: 10px;
}

#gameContainer {
  border-color: lightslategrey;
  border-width: 5px;
  border-style: solid;
  padding: 10px;
}

#fluidJumbo {
  padding-left: 25px;
}
