body {
  background-image: linear-gradient(
    pink,
    rgb(238, 201, 184),
    rgb(243, 243, 193),
    rgb(180, 245, 180)
  );
  color: darkblue;
  font-family: "Sen", sans-serif;
}

.container {
  background-color: rgba(255, 255, 255, 0.267);
}

.jumbotron {
  text-align: center;
  background-image: url("../images/instructions.png");
 
}

h2,
#feedback {
  text-align: center;
}
.img3 {
  height: 100px;
  width: auto;
}

#strawberry,
#pineapple,
#blender {
  background-color: white;
  border-color: rgb(241, 241, 173);
  border-width: 5px;
  border-style: solid;
}

#player-1,
#player-2 {
  padding: 20px;
}

.pre-login,
.post-login,
.pending-login,
.selections,
.pending-selection,
.selection-made,
.selection-reveal,
.stats {
  display: none;
}

form[role="login"] {
  max-width: 75%;
  margin: 0 auto;
}

.selections {
  margin: 0 auto;
}

.system {
  color: grey;
}

#footerImg {
  padding-left: 200px;
  height: 500px;
  width: auto;
}

#gifs-appear-here {
    padding: 20px;
    margin: auto;
}
